// Header
//
//


.shim
    height: 47.123px
    width: 100%
    background: $gray-shade-black

header
    font-family: 'Oswald', sans-serif
    +background-image(linear-gradient(to bottom, rgba(0, 0, 0, 0.85), $gray-shade-black)) 
    height: 47.123px
    position: fixed
    left: 0
    top: 0
    width: 100%
    z-index: 98
    display: flex
    align-items: center

    .b-container
        flex: 0 0 100%

    a.logo
        +link-colors($bone)
        border: none
        +adjust-font-size-to(1.414rem, 0)
        vertical-align: sub

        +breakpoint(desktops)
            +adjust-font-size-to(1.999rem, 0)
        
        span
            font-weight: $bold

    nav
        +pie-clearfix

        ul.b-menu
            float: right
            margin: 0
            padding: 0

            li
                float: left
                padding: 0
           
                a
                    +link-colors($nav-link-color, $nav-link-color-hover, $nav-link-color-active)
                    padding: 0 18px
                    border: none
                    text-transform: uppercase
                    +adjust-font-size-to(1rem)

                    &.selected
                        color: $nav-link-color-active
                        pointer-events: none                        
                        /* disables click event */

