// Content
//
//


section    
    article
        +rhythm-padding(1)


    &#b-music
        color: $body-bg-color

        ol
            padding-left: 23%

            +breakpoint(tablet)
                padding-left: 27px

            li a
                color: $body-bg-color
                border: none

                &:hover
                    color: $bone

                +breakpoint(desktops)
                    +adjust-font-size-to(1.414rem)


        .b-wrapper-cover
            +leader(1)

            img
                border: 6px solid rgba($bone, .2)


    &#b-album-details 
        background: #b9bcb4


        ul li, ol li, p
            +adjust-font-size-to(0.707rem, .8)

            +breakpoint(desktops)
                +adjust-font-size-to(1rem)

        .b-album-details__released
            +apply-side-rhythm-border(bottom, 1px, 1, 0px, solid $bone)

            time
                text-transform: uppercase

                +breakpoint(desktops)
                    +adjust-font-size-to(2.827rem)

        .b-album-details__music
            border: none

            +breakpoint(tablet)
                +apply-side-rhythm-border(right, 1px, 1, 0px, solid $bone)

           
    .b-service-buttons
        ul
            display: flex
            flex-flow: row wrap
            justify-content: space-between

            li
                width: 48%
                margin-bottom: 2vw

                a
                    font-size: 28px
                    height: 54px
                    line-height: 54px
                    border: 1px solid $gunmetal
                    display: inline-block
                    text-align: center
                    width: 100%

                    &:hover
                        background-color: $complementary-color
                        border-color: $complementary-color
                        color: $bone      

