// Colors
// 
// --------------------------------------------------

$body-bg-color:                               #fff                                  !global
$base-text-color:                             #525252                               !global
$base-heading-color:                          #000                                  !global
$link-color:                                  #a88231                               !global


// Navigation
// 
// --------------------------------------------------

$nav-link-color:                              $body-bg-color                        !global
$nav-link-color-hover:                        $link-color                           !global
$nav-link-color-active:                       $link-color                           !global


// Font weights
//
// --------------------------------------------------

$light:                                       300                                   !global
$regular:                                     400                                   !global
$medium:                                      500                                   !global
$bold:                                        700                                   !global


// Base Font
//
// --------------------------------------------------

$base-font-family:                            'Roboto Condensed', sans-serif        !global
$base-font-weight:                            $light                                !global
$base-font-size:                              18px                                  !global
$base-line-height:                            26.1px                                !global
$base-font-color:                             $base-text-color                      !global
$rhythm-unit:                                 rem                                   !global
$rem-with-px-fallback:                        false                                 !global







 