// Main
//
//


+establish-baseline

*
    margin: 0
    padding: 0
    outline: 0
    +box-sizing(border-box)

html, body
    height: 100%

// html
//     font-size: 62.5%

// Настройки типографики взяты с:
// https://www.modularscale.com/?1&em&1.414

html,
button,
input,
select,
textarea
    color: $base-font-color
    font-family: $base-font-family
    font-weight: $base-font-weight

body
    line-height: $base-line-height
    background: $body-bg-color
    // +debug-vertical-alignment

    p,
    img,
    iframe
        +margin-trailer

    p
        +adjust-font-size-to(1rem)


    h1, h2, h3, h4, time
        font-family: 'Oswald', sans-serif
        font-weight: $light
        text-transform: uppercase
        letter-spacing: 1.623px
        +rhythm-margins(1, 0.3)

    h1
        color: white
        font-weight: $bold
        text-transform: none
        +adjust-font-size-to(2.827rem)

        +breakpoint(desktops)
            +adjust-font-size-to(7.993rem)
     

    h2
        color: $bone
        +adjust-font-size-to(1.414rem) 
                      
        +breakpoint(desktops)
            +adjust-font-size-to(1.999rem)

    h3
        color: $complementary-color
        letter-spacing: 2.5px
        +adjust-font-size-to(1rem)

        +breakpoint(desktops)
            +adjust-font-size-to(1.414rem, 1.2)

    h4
        font-weight: $regular
        +trailer(0)
        +adjust-font-size-to(0.707rem)

        +breakpoint(desktops)
            +trailer(.2)
            +adjust-font-size-to(1rem)

    ul, ol
        +margin-trailer

        &.dash li:before
            content: "— "

    ol 
        list-style: decimal-leading-zero 
        padding-left: 27px

        li
            padding-left: 11.125px    

      
    a
        +link-colors($base-font-color, lighten($base-font-color, 10%), lighten($base-font-color, 10%))
        text-decoration: none
        border-bottom: 1px solid
        +transition(color .15s)

        &:hover
            border-bottom-color: lighten($base-font-color, 10%)

        &.dashed    
            border-bottom: 1px dashed $bone

    img, embed, object, video
        max-width: 100%
        width: 100%

    .callout
        position: relative
        margin: 0 0 1rem 0
        padding: 1rem
        // border: 1px solid lighten($mustard, 20%)

    .primary
        // background-color: lighten($mustard, 40%)




    
// header
@import "../blocks/b-header/style"

// content
@import "../blocks/b-content/style"

// footer
@import "../blocks/b-footer/style"

// b-menu-toggle
@import "../blocks/b-menu-toggle/style"

// UI
// @import "../UI/buttons"
// @import "../UI/checkbox-radiobutton"

