//- includes/_distribution.pug

//Distribution
.row
    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--purchase
            h3 Купить
            ul
                li: a(href="https://geo.music.apple.com/us/album/%D1%81%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5-%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE-ep/1509238927?uo&mt=1&app=itunes&at=1000l9WJ&ct=bq").icon-applemusic
                li: a(href="https://smolyanoechuchelko.bandcamp.com/").icon-bandcamp
                li: a(href="https://music.amazon.com/albums/B087PL1TBW?ref=dm_sh_456e-3972-dmcp-d2c6-ea06d&musicTerritory=US&marketplaceId=ATVPDKIKX0DER").icon-amazon

    .small-12.small-centered.medium-uncentered.medium-6.column
        .b-service-buttons.b-service-buttons--stream
            h3 Слушать
            ul
                li: a(href="https://geo.music.apple.com/us/album/%D1%81%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5-%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE-ep/1509238927?uo&mt=1&app=music&at=1000l9WJ&ct=bq").icon-apple
                li: a(href="https://vk.com/artist/smolyanoechuchelko").icon-vk
                li: a(href="https://music.youtube.com/playlist?list=OLAK5uy_luccgS_47OsZN8YlvJPNTsZgTRDdReSOk").icon-youtube1
                li: a(href="https://open.spotify.com/album/6vr5jlUpTMT2rmTlsThZxc").icon-spotify
                li: a(href="https://music.yandex.ru/album/10541546").icon-yandex
                li: a(href="https://www.deezer.com/ru/album/143471132").icon-deezer
                li: a(href="https://listen.tidal.com/album/138320502").icon-tidal
                li: a(href="https://play.google.com/store/music/album/%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5_%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE_%D0%A1%D0%BC%D0%BE%D0%BB%D1%8F%D0%BD%D0%BE%D0%B5_%D1%87%D1%83%D1%87%D0%B5%D0%BB%D0%BA%D0%BE?id=Bk4kmyb4qm5zmu4zlw2xemw7o74&hl=ru").icon-googleplay 
// /Distribution