//- includes/_footer.pug

// footer
footer(role="contentinfo")
	.b-container
		.row
			.small-11.small-centered.column
				ul
					li: a(href="mailto:info@burock.ru") Поддержка
					li: span © 2018 Баг
											
				
// /footer	
