//- includes/_footer.pug


footer(role="contentinfo")
	.b-container
		.row
			.small-12.column

				ul.b-social-networks
					li: a(href="https://www.youtube.com/channel/UC1Ok67ewgn1Wg2PF42rDxoA/").icon-youtube
					li: a(href="https://www.instagram.com/smolyanoechuchelko/").icon-instagram
					li: a(href="https://www.facebook.com/smolyanoechuchelko/").icon-facebook
					li: a(href="https://vk.com/smolyanoechuchelko").icon-vk

				ul
					li: a(href="mailto:feedback@smolyanoechuchelko.ru") Поддержка
					li: span © 2020 Смоляное чучелко